/* line 13, ../sass/style.scss */
body {
  background: #ccc;
  padding: 0.5em;
  font-family: Raleway, sans-serif;
}

/* line 19, ../sass/style.scss */
header {
  width: 100vw;
  background-image: url(http://lorempixel.com/g/1600/500/city);
  padding: 0;
  height: 250px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin-bottom: 180px;
  z-index: 0;
}
@media (min-width: 800px) {
  /* line 19, ../sass/style.scss */
  header {
    background-image: url(http://lorempixel.com/1600/400/city);
  }
}
@media (max-width: 800px) {
  /* line 19, ../sass/style.scss */
  header {
    background-image: url(http://lorempixel.com/1000/400/city);
  }
}
@media (max-width: 600px) {
  /* line 19, ../sass/style.scss */
  header {
    background-image: url(http://lorempixel.com/g/800/300/city);
  }
}
@media (max-width: 300px) {
  /* line 19, ../sass/style.scss */
  header {
    background-image: url(http://lorempixel.com/500/300/city);
  }
}
/* line 43, ../sass/style.scss */
header .tagline {
  color: rgba(255, 255, 255, 0.75);
  text-shadow: 1px 1px 20px rgba(0, 0, 0, 0.45);
  margin: 60px 60px 20px 60px;
  position: absolute;
  font-size: 3em;
  border-bottom: #0051df 0.25em solid;
}
@media (max-width: 600px) {
  /* line 43, ../sass/style.scss */
  header .tagline {
    font-size: 2em;
  }
}

/* line 55, ../sass/style.scss */
.container, .first-row, .second-row {
  background: linear-gradient(rgba(255, 255, 255, 0.75), #ccc);
  padding: calc(0.5em *3);
  display: flex;
  justify-content: space-between;
}

/* line 63, ../sass/style.scss */
.first-row {
  margin-top: 260px;
}
@media (max-width: 800px) {
  /* line 63, ../sass/style.scss */
  .first-row {
    display: block;
  }
  /* line 68, ../sass/style.scss */
  .first-row .main {
    width: 100%;
    margin-bottom: 1em;
  }
  /* line 73, ../sass/style.scss */
  .first-row .sidebar {
    width: 100%;
    margin-bottom: 1em;
  }
}

/* line 83, ../sass/style.scss */
.second-row {
  background: linear-gradient(#0051df, rgba(255, 255, 255, 0.75));
  min-height: 20em;
}
@media (max-width: 800px) {
  /* line 83, ../sass/style.scss */
  .second-row {
    display: block;
  }
  /* line 89, ../sass/style.scss */
  .second-row .generic-1 {
    width: 100%;
    margin-bottom: 1em;
  }
  /* line 94, ../sass/style.scss */
  .second-row .generic-2 {
    width: 100%;
    margin-bottom: 1em;
  }
  /* line 99, ../sass/style.scss */
  .second-row .tweet {
    width: 100%;
    margin-bottom: 1em;
  }
}

/* line 106, ../sass/style.scss */
.block, .main, .sidebar, .generic-1, .generic-2, .tweet {
  padding: 0.5em;
  border: #b3b3b3 1px solid;
  background: rgba(255, 255, 255, 0.75);
  border-radius: 0.5em;
  flex-grow: 1;
}

@media (min-width: 800px) {
  /* line 117, ../sass/style.scss */
  .main {
    max-width: 64.5%;
    display: block;
  }
}

@media (min-width: 800px) {
  /* line 126, ../sass/style.scss */
  .sidebar {
    max-width: 30%;
    display: block;
  }
}

@media (min-width: 800px) {
  /* line 136, ../sass/style.scss */
  .generic-1, .generic-2, .tweet {
    max-width: 30%;
  }
}

/* line 142, ../sass/style.scss */
header, h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  color: #1C59C3;
  padding: 0;
}

/* line 148, ../sass/style.scss */
h1 {
  font-size: 3em;
}

/* line 153, ../sass/style.scss */
footer {
  min-height: 3em;
  background: #999;
  color: #fff;
  text-align: center;
  padding: 0;
}
/* line 159, ../sass/style.scss */
footer a {
  color: #fff;
  padding: 10px auto;
  line-height: 2em;
}
